main#categories-page {
  width: min(90%);
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  main#categories-page {
    width: min(90%, 700px);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  main#categories-page {
    width: min(75%, 700px);
  }
}

ul#category-cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

li.category-card {
  padding: 0.25rem 0.5rem 0.5rem;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: -10px 10px #23395d;
  background-color: #524581;
}

li.category-card:hover,
li.category-card:active {
  box-shadow: -5px 5px #23395d;
}