header {
	grid-area: header;
	background-color: #000014;
}

a#home-button {
	text-decoration: none;
	margin: auto;
	background: linear-gradient(to right, #f28edf, #cab1f5, #f5f06b);
	background-size: 200% 200%;
	animation: rainbow 3s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip: text;
	color: #ffffeb00;
	transition: color 0.2s ease-in-out;
}

a#home-button:focus-visible {
	outline: none;
	border: 1px solid #000014;
	box-shadow: 0 0 0 5px #000014, 0 0 0 6px #ffffeb;
}

a#home-button:is(:hover, :focus-visible) {
	color: #ffffebff;
}

@keyframes rainbow {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

h1 {
	font-family: Oak-Sans;
	font-weight: 700;
	font-size: 2.125rem;
	text-align: center;
}

@media screen and (max-width: 640px) {
	header {
		padding: 1rem 0.75rem;
		display: grid;
		grid-template-areas: 'title button';
		grid-template-columns: 1fr 48px;
	}
	header.active {
		display: grid;
		grid-template-areas:
			'title button'
			'nav nav';
		grid-template-columns: 1fr 48px;
		grid-template-rows: auto auto;
	}
	h1 {
		grid-area: title;
		justify-self: center;
		align-self: center;
	}
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
	header {
		padding: 1.5rem;
		display: grid;
		grid-template-areas:
			'title'
			'nav';
	}
	h1 {
		grid-area: title;
		justify-self: center;
		font-family: Oak-Sans;
		font-weight: 700;
		font-size: 3rem;
		text-align: center;
		width: max-content;
	}
}

@media screen and (min-width: 1200px) {
	header {
		padding: 2rem;
		display: grid;
		grid-template-areas: 'title nav';
		grid-template-columns: auto 1fr;
		column-gap: 2rem;
	}
	h1 {
		grid-area: title;
		align-self: center;
		font-family: Oak-Sans;
		font-weight: 700;
		font-size: 3rem;
		text-align: center;
	}
}
