ul#user-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

li.user-card {
  padding: 1em;
  border-radius: 20px;
  background-color: black;
  color: #cba324;
  border: solid black 2px;
  box-shadow: -10px 10px #d1b000;
  width: 300px;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  main#login-page {
    width: min(90%, 700px);
    display: flex;
    flex-direction: column;
  }
  ul#login-page {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
  }
  ul#login-page > li {
    flex-basis: 20%;
  }
}

@media screen and (min-width: 1200px) {
  main#login-page {
    width: min(75%, 700px);
  }
  ul#login-page {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
  }
  ul#login-page > li {
    flex-basis: 20%;
  }
}