li.user-card article {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
}

li.user-card h3 {
	color: #cba324;
	background-color: black;
}

li.user-card a {
	font-size: 1.25rem;
	font-weight: 500;
	text-decoration: none;
	width: 6.5rem;
	display: block;
	border-radius: 20px;
	border: solid black 2px;
	background-color: #cba324;
	color: black;
	text-align: center;
	justify-self: center;
}

li.user-card a {
	box-shadow: 0 0 #cba324;
	transition: box-shadow 0.3s;
}

li.user-card a:focus-visible {
	outline: none;
	box-shadow: 0 0 0 5px #000014, 0 0 0 8px #cba324;
}
