@font-face {
  font-family: Kabel-Bold;
  src: url('./fonts/ITCKabelStdBold.TTF');
}

@font-face {
  font-family: Just-Sans;
  src: url('./fonts/JUST-Sans-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffcd;
  font-family: Just-Sans;
  color: black;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Kabel-Bold;
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}

h2 {
  font-family: Just-Sans;
  font-weight: bold;
  font-size: 1.25rem;
}

h3 {
  font-family: Just-Sans;
}

nav {
  width: 99%;
  margin: 0 auto 1rem;
  padding: 1rem 0 0;
}

nav > ul {
  width: 60%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

nav a {
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
  border: solid black 2px;
  box-shadow: -10px 10px #fce205;
  text-align: center;
}

nav a:hover,
nav a:active {
  box-shadow: -5px 5px #fce205;
}

nav a#home {
  background-color: #f28edf;
}

nav a#categories {
  background-color: #cab1f5;
}

nav a#login {
  background-color: #f5f06b;
}

nav #nav-profile {
  display: grid;
  grid-template-columns: 1fr 50px 120px;
  column-gap: 1em;
}

nav #nav-profile > b {
  align-self: center;
  font-size: 1.25rem;
}

nav #nav-profile > a {
  font-size: 1.25rem;
  background-color: #f5f06b;
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
  border: solid black 2px;
  box-shadow: -10px 10px #fce205;
}

nav #nav-profile > a:hover,
nav #nav-profile > a:active {
  box-shadow: -5px 5px #fce205;
}

button#sort-by-reviews {
  border: none;
  background-color: transparent;
}

#sort-menu {
  margin-bottom: 1rem;
}

#sort-menu svg {
  fill: #ffffcd background-col;
}

svg.sort-menu-active {
  transform: rotate(-90deg);
  transition: transform 0.25s;
}

svg.sort-menu-inactive {
  transform: rotate(0deg);
  transition: transform 0.25s;
}

#sort-options {
  width: fit-content;
  margin: 0 auto;
}

#sort-options select {
  padding: 0.5em 0.25em;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 1rem;
}

label#descending {
  font-size: 1rem;
  margin-right: 0.5rem;
}

label#ascending {
  font-size: 1rem;
  margin-right: 0.5rem;
}

#sort-options > button {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  border: solid black 2px;
  background-color: #8e1a10;
  color: #ffffcd;
}

main {
  margin: 0 auto;
  width: min(90%);
  line-height: 1.8;
}

li {
  list-style-type: none;
}

li.review-card {
  display: flex;
}

article.review-card {
  border-radius: 20px;
  background-color: #8e1a10;
  box-shadow: -10px 10px #b01355;
  border: solid black 2px;
}

article.review-card:hover,
article.review-card:active {
  box-shadow: -5px 5px #b01355;
}

article.review-card > p {
  color: #ffffcd;
  background-color: #8e1a10;
}

article.review-card > p:last-child {
  padding-bottom: 1em;
}

article.review-card > h2 {
  padding-top: 1rem;
  color: #f28edf;
  background-color: #8e1a10;
}

article.review-card > h3 {
  color: #cab1f5;
  background-color: #8e1a10;
}

article > h2,
article > h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

article.review-card > .grid-user {
  padding-top: 1em;
}

article.review-card > .grid-user,
article.review-card h4 {
  color: #f5f06b;
  background-color: #8e1a10;
}

article > p {
  text-align: center;
}

article > img {
  margin: 0 auto;
}

.review-card {
  padding-bottom: 0.9em;
  margin-bottom: 0.5em;
}

main#single-review-page {
  display: flex;
  flex-direction: column;
}

main#single-review-page > h2 {
  padding-top: 0.5em;
}

.flex-center {
  align-self: center;
}

.flex-right {
  align-self: end;
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  h1 {
    font-family: Kabel-Bold;
    font-size: 4rem;
    margin-top: 3rem;
    text-align: center;
  }
  ul#home-page {
    width: min(99%, 90rem);
    margin: 0 auto;
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav > ul {
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    justify-content: center;
  }
  nav a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  li.review-card {
    display: flex;
    align-items: center;
    flex-basis: 48%;
  }
  main#single-review-page,
  main#categories-page,
  main#login-page {
    width: min(90%, 700px);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-family: Kabel-Bold;
    font-size: 4.75rem;
    margin-top: 3rem;
    text-align: center;
  }
  nav > ul {
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: 6.5rem;
    justify-content: center;
  }
  nav a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  #sort-menu {
    width: 82%;
    margin: 0 auto 1rem;
  }
  ul#home-page {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  li.review-card {
    flex-basis: 25%;
    display: flex;
    align-items: center;
  }
  main#single-review-page,
  main#categories-page,
  main#login-page {
    width: min(75%, 700px);
  }
}

article.comment-card {
  margin: 1.5em;
  padding: 0.75em;
  border-radius: 20px;
  background-color: #0d642f;
  box-shadow: -10px 10px #4ce889;
  border: solid black 2px;
}

article.comment-card > * {
  color: #ffffcd;
  background-color: #0d642f;
}

article.comment-card h4,
article.comment-card p,
article.comment-card svg {
  fill: #ffffcd;
  color: #ffffcd;
  background-color: #0d642f;
}

img {
  display: block;
  border-radius: 20px;
  width: 100%;
}

.grid-user {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 50px;
}

.grid-user .username {
  align-self: center;
  justify-self: right;
  padding-right: 0.5em;
}

img.avatar {
  justify-self: left;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: solid black 1px;
  border-radius: 50%;
}

.grid-vote {
  justify-self: right;
  width: 7em;
  display: grid;
  grid-template-areas:
    'count upvote'
    'count downvote';
  grid-template-columns: 5em 30px;
  grid-template-rows: 1fr 1fr;
}

main#single-review-page > .grid-vote {
  margin-right: 1.5em;
}

.comment-card .grid-vote {
  margin: 0 auto;
}

#vote-count {
  width: fit-content;
  white-space: nowrap;
  padding: 0.3em;
  grid-area: count;
  justify-self: right;
  align-self: center;
}

.vote {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  grid-area: vote;
}

#upvote {
  transition: fill 0.5s;
  grid-area: upvote;
}

.vote:hover > #upvote,
.vote:focus > #upvote {
  fill: #099396;
}

#upvote:active {
  animation-name: upvote;
  animation-duration: 0.3s;
}

@keyframes upvote {
  20% {
    fill: #73bda8;
  }
  50% {
    fill: #099396;
  }
  80% {
    fill: #005f73;
  }
}

#downvote {
  transition: fill 0.5s;
  grid-area: downvote;
}

.vote:hover > #downvote,
.vote:focus > #downvote {
  fill: #bb3f02;
}

#downvote:active {
  animation-name: downvote;
  animation-duration: 0.3s;
}

@keyframes downvote {
  20% {
    fill: #cc6b49;
  }
  50% {
    fill: #bb3f02;
  }
  80% {
    fill: #b02013;
  }
}

#alert {
  border: dashed black 2px;
  background-color: #ffffcd;
  display: grid;
  grid-template-areas: 
  'alert-symbol message close';
  grid-template-columns: 40px 1fr 30px;
  grid-row: 1;
  width: fit-content;
  margin: 0 auto;
}

#alert svg {
  grid-area: alert-symbol;
  fill: black;
  background-color: #ffffcd;
}

#alert p {
  align-self: center;
  grid-area: message;
  background-color: #ffffcd;
  color: black;
}

#alert button.alert-close {
  border: none;
  grid-area: close;
  align-self: center;
}

.comment-form {
  width: min(100%, 35rem);
  margin: 1rem auto 1rem;
}

.comment-form > textarea {
  padding: 0.25em;
  outline: none;
  resize: none;
  width: inherit;
  height: 5rem;
  font-size: 1rem;
  background-color: #4ce889;
  border: solid black 2px;
  border-radius: 10px;
}

.comment-form > button {
  font-size: 1.25rem;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: solid black 2px;
  background-color: #0d642f;
  color: #ffffcd;
}

ul#login-page {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

article.user-card {
  border-radius: 20px;
  border: solid #ffffcd 2px;
  background-color: black;
  color: #cba324;
  border: solid #cba324 2px;
  padding: 1rem;
}

article.user-card > h3 {
  color: #cba324;
  background-color: black;
}

article.user-card > a {
  font-size: 1.25rem;
  width: 6.5rem;
  margin: 1rem auto 0;
  display: block;
  border-radius: 20px;
  border: solid black 2px;
  background-color: #cba324;
  color: black;
  padding: 0.25rem 1.25rem;
  text-align: center;
}

ul#categories-page {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

li.category-card {
  padding: 0.25rem 0.5rem 0.5rem;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: -10px 10px #23395d;
}

li.category-card:hover,
li.category-card:active {
  box-shadow: -5px 5px #23395d;
}

li.category-card,
li.category-card * {
  color: #ffffcd;
  background-color: #524581;
}

.loading {
  display: block;
  width: 75px;
  margin: 2rem auto;
}