main {
  margin: 0 auto;
  width: min(90%, 72rem);
}

.review-card {
  border: 2px dotted black;
  margin: 1em;
}

.comment-card {
  border: 2px dotted black;
  margin: 1em;
}

img {
  display: block;
  width: 100%;
}

img.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: solid black 1px;
  border-radius: 50%;
}

.vote {
  background-color: transparent;
  border: 1px black dotted;
}

#upvote {
  transition: fill 0.5s;
}

.vote:hover > #upvote,
.vote:focus > #upvote {
  fill: #099396;
}

#upvote:active {
  animation-name: upvote;
  animation-duration: 0.3s;
}

@keyframes upvote {
  20% {
    fill: #73bda8;
  }
  50% {
    fill: #099396;
  }
  80% {
    fill: #005f73;
  }
}

#downvote {
  transition: fill 0.5s;
}

.vote:hover > #downvote,
.vote:focus > #downvote {
  fill: #bb3f02;
}

#downvote:active {
  animation-name: downvote;
  animation-duration: 0.3s;
}

@keyframes downvote {
  20% {
    fill: #cc6b49;
  }
  50% {
    fill: #bb3f02;
  }
  80% {
    fill: #b02013;
  }
}

#alert {
  border: dashed black 2px;
}